<ion-header>
  <ion-toolbar color="primary">
    <ion-title  color = "light" class="ion-margin-vertical ion-text-left"><strong>EZ Switch Financial</strong></ion-title>
    <ion-menu-button menu="main-menu" color="light" slot="start">
    </ion-menu-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card color="secondary" class="ion-margin ion-padding">
    <ion-title class="ion-margin"><strong>Home</strong></ion-title>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin ion-padding">
          <ion-img src="../../assets/Logos/PNG/Standard.png"></ion-img>
          <ion-text color="light">
            <h1><strong>TECHNOLOGY CREATION</strong></h1>
            <h2>SOLUTIONS FOR FINANCE, ENERGY, HEALTH AND GOVERNMENT</h2>
          </ion-text>
        </ion-col>
        <ion-col class="ion-margin ion-padding">
          <h1><strong>ABOUT US</strong></h1>
          <p>Auxilis provides technology products and systems and product development consulting services to the energy, finance and government sectors in Australia, New Zealand, the United States and around the globe.</p>
          <p>Auxilis also provides IT and operational business process outsourcing (BPO) services from our office in Cebu, Philippines.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>


