<ion-header>
  <ion-toolbar color="primary">
    <ion-title  color = "light" class="ion-margin-vertical ion-text-left"><strong>EZ Switch Financial</strong></ion-title>
    <ion-menu-button menu="main-menu" color="light" slot="start">
    </ion-menu-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card color="secondary" class="ion-margin ion-padding">
    <ion-title class="ion-margin"><strong>Contact Us</strong></ion-title>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin ion-padding">
          <ion-img src="../../assets/Logos/PNG/Standard.png"></ion-img>
          <ion-text color="light">
            <h1><strong>TECHNOLOGY CREATION</strong></h1>
          </ion-text>
        </ion-col>
        <ion-col class="ion-margin ion-padding">
          <h1><strong>ABOUT US</strong></h1>
          <p>Contact us using the form below or by phone on +61 2 8880 7951 or by email at sales@auxilis.com.au</p>
          <p>We are currently offering a free 4 day proof of concept for smart data extraction projects or a free solution proposal for systems development projects until 30 November 2020</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
