<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light" class="ion-margin-vertical ion-text-left"><strong>EZ Switch Financial</strong></ion-title>
    <ion-menu-button menu="main-menu" color="light" slot="start">
    </ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card color="secondary" class="ion-margin ion-padding">
    <ion-title class="ion-margin"><strong>Data Extraction</strong></ion-title>

    <!-- Extacted Data Table -->
    <ion-list>
      <ion-item color="medium">
        <!-- Table Headers -->
        <ion-grid>
          <ion-row>
            <ion-col size="0.75">
              <h6 class="ion-margin">ID</h6>
            </ion-col>
            <ion-col size="1.75">
              <h6 class="ion-margin">File Name</h6>
            </ion-col>
            <ion-col size="2">
              <h6 class="ion-margin">Type Of Sheet</h6>
            </ion-col>
            <ion-col size="5.5">
              <h6 class="ion-margin">Output</h6>
            </ion-col>
            <ion-col size="1.5">
              <h6 class="ion-margin" >Options</h6>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item color="light">
        <ion-grid>
          <!--
            Table Rows
            For each row, data is taken from MachineLearningList and displayed under the headers.
          -->
          <ion-row *ngFor="let dataItem of MachineLearningList">
            <ion-col size="0.75">
              <p class="ion-margin">{{dataItem.MachineLearningId}}</p>
            </ion-col>
            <ion-col size="1.75">
              <p class="ion-margin">{{dataItem.SheetFileName}}</p>
            </ion-col>
            <ion-col size="2">
              <p class="ion-margin">{{dataItem.TypeOfSheet}}</p>
            </ion-col>
            <ion-col size="5.5">
              <p style="white-space: pre" class="ion-margin">{{dataItem.Output}}</p>
            </ion-col>
            <!-- Option Buttons -->
            <ion-col size="1.5">
              <!-- Edit and Delete Buttons -->
              <ion-button (click)="editClick(dataItem)">Edit&nbsp;&nbsp;<ion-icon name="create-outline"></ion-icon></ion-button>
              <ion-button (click)="deleteClick(dataItem)">Delete&nbsp;&nbsp;<ion-icon name="trash-outline"></ion-icon></ion-button>

              <!-- Download Buttons -->
              <ion-button href="assets/{{dataItem.TrainingDataFileName}}" download="{{dataItem.TrainingDataFileName}}">Training Data&nbsp;&nbsp;<ion-icon name="download-outline"></ion-icon></ion-button>
              <ion-button href="assets/{{dataItem.TrainingDataFileName}}.json" download="{{dataItem.TrainingDataFileName}}.json">Output&nbsp;&nbsp;<ion-icon name="download-outline"></ion-icon></ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
